<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Where Evil Dwells, a Text Based Adventure Game for a Terminal" />
    <meta name="keywords" content="game, choose-your-own-adventure, spooky house, murder, mystery, CLI">
    <meta name="author" content="Where Evil Dwells" />
    <title>Python Terminal for Where Evil Dwells</title>
    <link rel="icon" type="images/png" href="../assets/images/favicon.png">
    <!--CSS-->
    <link rel="stylesheet" href="../assets/css/style.css"/>

<body>
    <!-- header -->
    <header>
        <a href="https://www.fontspace.com/category/horror"><img
                src="https://see.fontimg.com/api/renderfont4/eZKDm/eyJyIjoiZnMiLCJoIjo3NywidyI6MTAwMCwiZnMiOjc3LCJmZ2MiOiIjRjExMDEwIiwiYmdjIjoiI0ZGRkZGRiIsInQiOjF9/V0hFUkUgRVZJTCBEV0VMTFM/bloody-camp-free-trial.png"
                class="heading" alt="Horror fonts"></a>

    </header>

    <body>
        <button onclick="window.location.reload()">Run Program</button>
        <div id="terminal"></div>

        <script>
            var term = new Terminal({
                cols: 80,
                rows: 24
            });
            term.open(document.getElementById('terminal'));
            //term.writeln('Running startup command: python3 run.py');
            term.writeln('');

            var ws = new WebSocket(location.protocol.replace('http', 'ws') + '//' + location.hostname + (location.port ?
                (
                    ':' + location.port) : '') + '/');

            ws.onopen = function () {
                new attach.attach(term, ws);
            };

            ws.onerror = function (e) {
                console.log(e);
            };
            // Set focus in the terminal
            document.getElementsByClassName("xterm-helper-textarea")[0].focus();
        </script>

        <footer>
            <ul class="list">
                <!-- site copyright -->
                <li>Where Evil Dwells &copy;</li>
            </ul>
        </footer>
    </body>

</html>